<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodcub.shishicai.mapper.SscTempInfoMapper">

    <!-- 查询指定客服的预订或认筹单类型 -->
    <select id="queryCurentInfoById" resultType="com.goodcub.shishicai.entity.SscTempInfo">
        SELECT
          t.*, attr.current_dan
        from
          ssc_temp_info as t
          inner join ssc_temp_info_attr as attr on attr.id = t.id
        where id = 1
    </select>

    <update id="updateTempResult"  parameterType="com.goodcub.shishicai.entity.SscTempInfo">
        UPDATE ssc_temp_info
        <trim prefix="set" suffixOverrides=",">
            <if test="sscNumber!=null">ssc_number=#{sscNumber},</if>
            <if test="onlineNumber!=null">online_number=#{onlineNumber},</if>
            <if test="onlineChange!=null">online_change=#{onlineChange},</if>
            <if test="onlineTime!=null">online_time=#{onlineTime},</if>
        </trim>
        WHERE id=#{id}
    </update>
    
</mapper>
